body{
  background: linear-gradient(to right,#667eea,#764ba2);
  font-family: Arial;
}

.container{
  width:420px;
  margin:80px auto;
  background:white;
  padding:30px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
  color:#333;
}

.sub{
  color:#666;
  margin-bottom:20px;
}

button{
  width:90%;
  padding:12px;
  margin:10px;
  font-size:16px;
  border:none;
  border-radius:8px;
  background:#667eea;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#5563d6;
}