body{
  background:#f4f7fb;
  font-family:Arial;
}

.chat-container{
  max-width:450px;
  margin:auto;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:15px;
}

#chat{
  overflow-y:auto;
}

.bot{
  background:#e3f2fd;
  padding:12px;
  border-radius:10px;
  margin:10px 0;
}

.user{
  background:#2575fc;
  color:white;
  padding:12px;
  border-radius:10px;
  margin:10px 0;
  align-self:flex-end;
}

.options button{
  width:100%;
  margin:5px 0;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#2575fc;
  color:white;
}