body{
  margin:0;
  background:linear-gradient(135deg,#6a11cb,#2575fc);
  font-family:Arial, sans-serif;
}

.container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

h1{
  color:white;
}

.sub{
  color:#ddd;
  margin-bottom:20px;
}

#card{
  background:white;
  width:90%;
  max-width:420px;
  padding:25px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,0.25);
}

button{
  width:100%;
  padding:12px;
  margin-top:12px;
  font-size:16px;
  border:none;
  border-radius:8px;
  background:#2575fc;
  color:white;
}

button:hover{
  background:#1a5ed8;
}